* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 3px 3px 20px #000000;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#top {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
#weather {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.time {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0px 0px 20px #aaaaaa;
}
#crypto {
  font-size: 1.3rem;
}
#crypto-top {
  display: flex;
  align-items: center;
}
#crypto-top > img {
  margin-right: 10px;
  margin-bottom: 5px;
}
div#crypto > p {
  margin: 0;
}
#temp {
  font-size: 2rem;
}
p.city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -2;
}
